<!DOCTYPE html>
<html lang="zh">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="stylesheet" type="text/css" href="/css/materialdesignicons.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.min.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-6 col-xl-3">
				<div class="card bg-primary text-white">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
								<i class="mdi mdi-domain fs-4"></i>
							</span>
							<span class="fs-4">{$domain_num}</span>
						</div>
						<div class="text-end">普通域名额度</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-xl-3">
				<div class="card bg-danger text-white">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
								<i class="mdi mdi-shield fs-4"></i>
							</span>
							<span class="fs-4">{$record_num}</span>
						</div>
						<div class="text-end">备案域名额度</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-xl-3">
				<div class="card bg-success text-white">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
								<i class="mdi mdi-dns fs-4"></i>
							</span>
							<span class="fs-4">{$record_count}</span>
						</div>
						<div class="text-end">域名解析数</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-xl-3">
				<div class="card bg-purple text-white">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
								<i class="mdi mdi-domain-plus fs-4"></i>
							</span>
							<span class="fs-4">{$domain_count}</span>
						</div>
						<div class="text-end">我们提供的域名数</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-lg-12">
			  <div class="card">
				<header class="card-header">
				  <div class="card-title">域名信息</div>
				</header>
				<div class="card-body">
				  <div class="table-responsive">
					<table class="table table-hover">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>域名</th>
						  <th>解析数量</th>
						  <th>是否备案</th>
						</tr>
					  </thead>
					  <tbody>
						{foreach $domain as $domains}
						<tr>
						  <td>{$domains["id"]}</td>
						  <td>{$domains["dom"]}</td>
						  <td>{$domains["nums"]}</td>
						  <td>
							{if $domains["is_record"] == 1}
							<span class="badge bg-success">是</span>
							{else}
							<span class="badge bg-danger">否</span>
							{/if}
						  </td>
						</tr>
						{/foreach}
					  </tbody>
				  </table>
				  </div>
				</div>
			  </div>
		  </div>
	  
		</div>
		<div class="row">

			<div class="col-lg-12">
				<div class="card">
					<header class="card-header">
						<div class="card-title">公告</div>
					</header>
					<div class="card-body">

						<p>在使用本服务之前，请您仔细阅读以下公告。您的使用行为将被视为您对本声明的认可和接受。</p>
						<div class="accordion" id="accordionExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne">
									<button class="accordion-button" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										免责声明
									</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse show"
									aria-labelledby="headingOne" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										在使用本产品/服务之前，请您仔细阅读以下免责声明。您的使用行为将被视为您对本声明的认可和接受。
										<ol>
											<li>本产品/服务仅供参考和使用，不构成任何法律、财务或其他专业建议。在做出任何决策之前，请您自行进行充分的研究和评估。</li>
											<li>我们尽力提供准确和最新的信息，但不保证产品/服务中的所有内容都是完全准确、完整或最新的。您应该对所依赖的信息进行独立验证。</li>
											<li>对于因使用本产品/服务而导致的任何直接、间接、偶然、特殊或间接的损失或损害，包括但不限于数据丢失、利润损失、业务中断或其他经济损失，我们不承担任何责任。
											</li>
											<li>我们不保证本产品/服务在任何情况下都能正常运行，不保证其没有错误或缺陷，也不保证其能满足您的特定需求。</li>
											<li>对于因不可抗力、系统故障、网络问题或其他超出我们控制范围的原因导致的服务中断或数据丢失，我们不承担任何责任。</li>
											<li>您使用本产品/服务时，应遵守所有适用的法律法规。对于因您的违法行为而导致的任何后果，您将独自承担责任。</li>
											<li>我们保留随时修改、暂停或终止本产品/服务的权利，而无需事先通知您。对于因产品/服务的修改、暂停或终止而导致的任何影响，我们不承担任何责任。
											</li>
										</ol>
										请您仔细阅读并理解本免责声明。使用本产品/服务即表示您同意接受本声明的条款。如有任何疑问或需要进一步的信息，请与我们联系。
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingTwo">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										版权说明
									</button>
								</h2>
								<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<ol>
											<li>本产品/服务中的所有内容，包括但不限于文字、图片、音频、视频、软件、代码、以及版式设计等，均受版权法的保护。未经许可，您不得复制、修改、传播、出售或使用本产品/服务中的任何内容。
											</li>
											<li>本产品/服务中的所有商标、标识、标志，均为我们或相关权利人的商标或注册商标。未经书面许可，您不得使用、复制、展示或传播这些商标、标识、标志。
											</li>
											<li>我们尊重他人的知识产权，也希望用户能够尊重我们的知识产权。如果您认为本产品/服务中的内容侵犯了您的知识产权，请您立即通知我们，我们将尽快处理。
											</li>
										</ol>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingThree">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseThree" aria-expanded="false"
										aria-controls="collapseThree">
										技术支持
									</button>
								</h2>
								<div id="collapseThree" class="accordion-collapse collapse"
									aria-labelledby="headingThree" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<ol>
											<li>前端模板: Bootstrap <span><a href="https://mit-license.org/" target="_blank"
														rel="">MIT</a>开源协议</a></span></li>
											<li>前端样式: 笔下光年后台模板 <span><a
														href="https://www.apache.org/licenses/LICENSE-2.0.html"
														target="_blank" rel="">apache</a>开源协议</span></li>
											<li>后端框架: ThinkPHP <span><a
														href="https://www.apache.org/licenses/LICENSE-2.0.html"
														target="_blank" rel="">apache</a>开源协议</span></li>
											<li>数据库: MySQL <span><a
														href="https://www.apache.org/licenses/LICENSE-2.0.html"
														target="_blank" rel="">apache</a>开源协议</span></li>
											<li>本源码使用<a href="https://mit-license.org/" target="_blank"
													rel="">MIT</a>开源协议</a></li>
										</ol>
										本源码开源在:
										<ol>
											<li>Gitee</li>
										</ol>
										禁止售卖本源码盈利, 请遵守开源协议
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingThree">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
										data-bs-target="#collapseThree2" aria-expanded="false"
										aria-controls="collapseThree">
										使用帮助
									</button>
								</h2>
								<div id="collapseThree2" class="accordion-collapse collapse"
									aria-labelledby="headingThree" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<ol>
											<li>请务必正确填写邮箱,如果邮箱错误可从当前界面右上角修改</li>
											<li>平台会从邮箱向你发送重要邮件!!</li>
											<li>修改解析,回复工单会尝试发送邮件到你的邮箱</li>
											<li>有问题可从工单联系我们,我们会通过工单向你提供技术支持</li>
										</ol>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>


	</div>

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/chart.min.js"></script>
	<!--引入chart插件js-->
	<script type="text/javascript" src="/js/main.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function (e) {
			var $dashChartBarsCnt = jQuery('.js-chartjs-bars')[0].getContext('2d'),
				$dashChartLinesCnt = jQuery('.js-chartjs-lines')[0].getContext('2d');

			var $dashChartBarsData = {
				labels: (() => {
					let xq = ['周一', '周二', '周三', '周四', '周五', '周六', '周日'];
					let rq = new Date().getDay();
					let arr = [];
					for (let i = 0; i < 7; i++) {
						arr.push(xq[(rq + i) % 7]);
					}
					return arr;
				})(),
				datasets: [{
					label: '工单量',
					borderWidth: 1,
					borderColor: 'rgba(0, 0, 0, 0)',
					backgroundColor: 'rgba(0, 123, 255,0.5)',
					hoverBackgroundColor: "rgba(0, 123, 255, 0.7)",
					hoverBorderColor: "rgba(0, 0, 0, 0)",
					data: { $tickets_count }
				}]
			};
			var $dashChartLinesData = {
				labels: (() => {
					let xq = ['周一', '周二', '周三', '周四', '周五', '周六', '周日'];
					let rq = new Date().getDay();
					let arr = [];
					for (let i = 0; i < 7; i++) {
						arr.push(xq[(rq + i) % 7]);
					}
					return arr;
				})(),
				datasets: [{
					label: '审核量',
					data: { $censor_count },
					borderColor: '#007bff',
					backgroundColor: 'rgba(0, 123, 255, 0.175)',
					borderWidth: 1,
					fill: false,
					lineTension: 0.5
				}]
			};

			new Chart($dashChartBarsCnt, {
				type: 'bar',
				data: $dashChartBarsData
			});

			var myLineChart = new Chart($dashChartLinesCnt, {
				type: 'line',
				data: $dashChartLinesData,
			});
		});
	</script>
</body>

</html>