<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>邀请管理 - 学习二级域名分发系统</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!--消息提示css-->
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <!--表格插件css-->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.min.css">
    <!--日期选择器css-->
    <link rel="stylesheet" type="text/css" href="/js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <!--时间日期选择器css-->
    <link rel="stylesheet" type="text/css" href="/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
</head>

<body>

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header">
                        <div class="card-title">邀请码列表</div>
                    </header>
                    <div class="card-body">
                        <div id="toolbar" class="toolbar-btn-action">
                            <button id="btn_add" type="button" class="btn btn-primary me-1">
                                <span class="mdi mdi-plus" aria-hidden="true"></span>新增
                            </button>
                        </div>
                        <table id="table"></table>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLiveLabel">新增</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="invite_input" class="form-label">邀请码</label>
                        <input type="text" class="form-control" id="invite_input" placeholder="abc?" name="invite">
                    </div>
                    <div class="mb-3">
                        <label for="current" class="form-label">邀请人数: 0</label>
                        <input type="range" class="form-range" min="0" max="100" id="current" name="current" value="0">
                    </div>
                    <div class="mb-3">
                        <label for="domain_input" class="form-label">非备案域名数: 0</label>
                        <input type="range" class="form-range" min="0" max="10" id="domain_input" name="domain"
                            value="0">
                    </div>
                    <div class="mb-3">
                        <label for="record_input" class="form-label">备案域名数: 0</label>
                        <input type="range" class="form-range" min="0" max="5" id="record_input" name="record"
                            value="0">
                    </div>
                    <div class="mb-3">
                        <label for="time_input" class="form-label">到期时间</label>
                        <input type="text" class="form-control" id="time_input" data-provide="datepicker" data-date-highlight="true" placeholder="YYYY-mm-dd" name="time">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存修改</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!--日期选择器js-->
    <script type="text/javascript" src="/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <!--时间日期选择器js-->
    <script type="text/javascript" src="/js/momentjs/moment.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/js/momentjs/locale/zh-cn.min.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <!--弹窗插件js-->
    <script type="text/javascript" src="/js/bootstrap-notify.min.js"></script>
    <!--加载插件js-->
    <script type="text/javascript" src="/js/lyear-loading.js"></script>
    <!--表格插件js-->
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <script>
        $("input[name='current']").on('input', function () {
            $("label[for='current']").text("邀请人数: " + $(this).val());
        });
        $("input[name='domain']").on('input', function () {
            $("label[for='domain_input']").text("非备案域名数: " + $(this).val());
        });
        $("input[name='record']").on('input', function () {
            $("label[for='record_input']").text("备案域名数: " + $(this).val());
        });
        $("button[type='submit']").on('click', function () {
            var invite = $("input[name='invite']").val().trim();
            var current = $("input[name='current']").val();
            var domain = $("input[name='domain']").val();
            var record = $("input[name='record']").val();
            var time = $("input[name='time']").val();
            if (invite == "" || time == "") {
                return errify("请填写完整信息");
            }
            var timePattern = /^\d{4}-\d{2}-\d{2}$/;
            if (!timePattern.test(time)) {
                return errify("请按照YYYY-mm-dd格式填写时间");
            }
            $.ajax({
                url: "/admin/api",
                type: "POST",
                data: {
                    tag:"invite",
                    act:"add",
                    invite: invite,
                    current: current,
                    domain: domain,
                    record: record,
                    time: time
                },
                success: function (data) {
                    if (data.code) {
                        $('#add').modal('hide');
                        $('#table').bootstrapTable('refresh');
                        $("input[name='invite']").val("");
                        $("input[name='current']").val(0);
                        $("input[name='domain']").val(0);
                        $("input[name='record']").val(0);
                        $("input[name='time']").val("");
                    } else {
                        errify(data.msg);
                    }
                },
                error:function(){
                    errify("网络错误");
                }
            });
        });
        /**
         * 分页相关的配置
         **/
        const pagination = {
            // 分页方式：[client] 客户端分页，[server] 服务端分页
            sidePagination: "client",
            // 初始化加载第一页，默认第一页
            pageNumber: 1,
            // 每页的记录行数
            pageSize: 10,
            // 可供选择的每页的行数 - (亲测大于1000存在渲染问题)
            pageList: [5, 10, 25, 50, 100],
            // 在上百页的情况下体验较好 - 能够显示首尾页
            paginationLoop: true,
            // 展示首尾页的最小页数
            paginationPagesBySide: 2
        };

        /**
         * 按钮相关配置
         **/
        const button = {
            // 按钮的类
            buttonsClass: 'default',
            // 类名前缀
            buttonsPrefix: 'btn'
        }

        /**
         * 图标相关配置
         **/
        const icon = {
            // 图标前缀
            iconsPrefix: 'mdi',
            // 图标大小
            iconSize: 'mini',
            // 图标的设置
            icons: {
                columns: 'mdi-table-column-remove',
                paginationSwitchDown: 'mdi-door-closed',
                paginationSwitchUp: 'mdi-door-open',
                refresh: 'mdi-refresh',
                toggleOff: 'mdi-toggle-switch-off',
                toggleOn: 'mdi-toggle-switch',
                fullscreen: 'mdi-monitor-screenshot',
                detailOpen: 'mdi-plus',
                detailClose: 'mdi-minus'
            }
        };

        /**
         * 表格相关的配置
         **/
        const table = {
            classes: 'table table-bordered table-hover table-striped lyear-table',
            // 请求地址
            url: '/admin/api',
            // 唯一ID字段
            uniqueId: 'id',
            // 每行的唯一标识字段
            idField: 'id',
            // 是否启用点击选中行
            clickToSelect: true,
            // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
            // showToggle: true,
            // 请求得到的数据类型
            dataType: 'json',
            // 请求方法
            method: 'post',
            // 工具按钮容器
            toolbar: '#toolbar',
            // 是否分页
            pagination: true,
            // 是否显示所有的列
            showColumns: true,
            // 是否显示刷新按钮
            showRefresh: true,
            // 显示图标
            showButtonIcons: true,
            // 显示文本
            showButtonText: false,
            // 显示全屏
            showFullscreen: true,
            // 开关控制分页
            showPaginationSwitch: true,
            // 总数字段
            totalField: 'total',
            // 当字段为 undefined 显示
            undefinedText: '-',
            // 排序方式
            sortOrder: "desc",
            ...icon,
            ...pagination,
            ...button
        };

        /**
         * 用于演示的列信息
         **/
        const columns = [{
            field: 'id',
            title: '编号',
            // 使用[align]，[halign]和[valign]选项来设置列和它们的标题的对齐方式。
            // h表示横向，v标识垂直
            align: 'center',
            // 是否作为排序列
            sortable: true,
            visible: false,
            // 当列名称与实际名称不一致时可用
            sortName: 'sortId',
            switchable: false,
            // 列的宽度
            width: 8,
            // 宽度单位
            widthUnit: 'rem'
        }, {
            field: 'value',
            align: 'center',
            title: '邀请码',
            titleTooltip: '注册邀请码',
        }, {
            field: 'record_num',
            align: 'center',
            title: '备案域名数',
            titleTooltip: '给予的备案域名数量',
        }, {
            field: 'domain_num',
            align: 'center',
            title: '非备案域名数',
            titleTooltip: '给予的非备案域名数量',
        }, {
            field: 'current',
            align: 'center',
            title: '邀请人数',
            formatter: function (value, row, index) {
                var percentage = Math.floor(row.current / row.max * 100);
                if (isNaN(percentage)) {
                    percentage = 100;
                }
                var bg = "bg-success"
                if (row.is_lock == 1) {
                    bg = "bg-light"
                } else if (new Date(row.over_time).getTime() < new Date().getTime()) {
                    bg = "bg-light"
                } else if (row.current >= row.max) {
                    bg = "bg-danger"
                }
                value = '<div class="progress" style="max-width:100%" data-bs-toggle="tooltip" data-bs-placement="bottom" title="' + row.current + '/' + row.max + '">' +
                    '<div class="progress-bar ' + bg + '" role="progressbar" style="width: ' + percentage + '%" aria-valuenow="' + percentage + '" aria-valuemin="0" aria-valuemax="100">' + percentage + '%</div>' +
                    '</div>';
                return value;
            }
        }, {
            field: 'over_time',
            align: 'center',
            title: '到期时间',
            formatter: function (value, row, index) {
                let create = new Date(row.create_time).getTime();
                let percentage = Math.floor((((new Date(row.over_time).getTime() < new Date().getTime()) ? new Date(row.over_time).getTime() : new Date().getTime()) - create) / (new Date(row.over_time).getTime() - create) * 100);
                var bg = "bg-success"
                if (row.is_lock == 1) {
                    bg = "bg-light"
                } else if (new Date(row.over_time).getTime() < new Date().getTime()) {
                    bg = "bg-danger"
                } else if (row.current >= row.max) {
                    bg = "bg-light"
                }
                value = '<div class="progress" style="max-width:100%" data-bs-toggle="tooltip" data-bs-placement="bottom" title="' + row.over_time.split(" ")[0] + '">' +
                    '<div class="progress-bar ' + bg + '" role="progressbar" style="width: ' + percentage + '%" aria-valuenow="' + percentage + '" aria-valuemin="0" aria-valuemax="100">' + percentage + '%</div>' +
                    '</div>';
                return value;
            }
        }, {
            field: 'is_lock',
            title: '状态',
            formatter: function (value, row, index) {
                var value = "";
                if (row.is_lock == 1) {
                    value = '<span class="badge bg-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="单击修改" onclick="xg(' + row.id + ',0)">禁用</span>';
                } else if (new Date(row.over_time).getTime() < new Date().getTime()) {
                    value = '<span class="badge bg-light">到期</span>';
                } else if (row.current >= row.max) {
                    value = '<span class="badge bg-light">满员</span>';
                } else {
                    value = '<span class="badge bg-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="单击修改" onclick="xg(' + row.id + ',1)">正常</span>';
                }
                return value;
            }
        }];

        // 自定义操作按钮
        function xg(id, tg) {
            var l = $('body').lyearloading({
                opacity: 0.1,              // 遮罩层透明度，为0时不透明
                backgroundColor: '#ccc',           // 遮罩层背景色
                imgUrl: '',               // 使用图片时的图片地址
                textColorClass: 'text-success',   // 文本文字的颜色
                spinnerColorClass: 'text-success',   // 加载动画的颜色(不使用图片时有效)
                spinnerSize: 'lg',             // 加载动画的大小(不使用图片时有效，示例：sm/nm/md/lg，也可自定义大小，如：25px)
                spinnerText: '修改中...',       // 文本文字    
                zindex: 9999,             // 元素的堆叠顺序值
            });
            $.ajax({
                url: "/admin/api",
                type: "POST",
                data: {
                    tag: "invite",
                    act: "xg",
                    id: id,
                    is_lock: tg
                },
                success: function (data) {
                    l.hide();
                    if (data.code) {
                        $('table').bootstrapTable('refresh');
                    } else {
                        errify(data.msg)
                    }
                },
                error: function (data) {
                    l.hide();
                    errify("网络错误")
                }
            });
        }

        // 操作方法 - 编辑
        $("#btn_add").click(function () {
            $("#add").modal("show");
        });
        // 错误的弹窗
        function errify(msg) {
            $.notify({
                icon: 'mdi mdi-alert',
                message: msg
            }, {
                type: 'danger',
                allow_dismiss: true,
                newest_on_top: false,
                placement: {
                    from: 'top',
                    align: 'right'
                },
                offset: {
                    x: 20,
                    y: 20
                },
                spacing: 10,
                z_index: 9999,
                delay: 5000,
                animate: {
                    enter: 'animate__animated animate__fadeInDown',
                    exit: 'animate__animated animate__fadeOutUp'
                },
                onClosed: null,
                mouse_over: null
            });
        }

        $('table').bootstrapTable({
            ...table,
            // 自定义的查询参数
            queryParams: function (params) {
                return {
                    // 每页数据量
                    limit: params.limit,
                    // sql语句起始索引
                    offset: params.offset,
                    page: (params.offset / params.limit) + 1,
                    // 排序的列名
                    sort: params.sort,
                    // 排序方式 'asc' 'desc'
                    sortOrder: params.order,
                    tag: "invite",
                    act: "list"
                };
            },
            columns,
            onLoadSuccess: function (data) {
                $("[data-bs-toggle='tooltip']").tooltip();
            }
        });
    </script>
</body>

</html>