<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="stylesheet" type="text/css" href="/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.min.css">
</head>
  
<body>
<div class="container-fluid">

  <div class="row">

    <div class="col-md-6 col-xl-3">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-dns fs-4"></i>
            </span>
            <span class="fs-4">102,125.00</span>
          </div>
          <div class="text-end">解析数量</div>
        </div>
      </div>
    </div>

  	<div class="col-md-6 col-xl-3">
  	  <div class="card bg-danger text-white">
  	    <div class="card-body">
  	      <div class="d-flex justify-content-between">
  	        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-domain fs-4"></i>
            </span>
  	        <span class="fs-4">920,000</span>
  	      </div>
  	      <div class="text-end">域名数量</div>
  	    </div>
  	  </div>
  	</div>

  	<div class="col-md-6 col-xl-3">
  	  <div class="card bg-success text-white">
  	    <div class="card-body">
  	      <div class="d-flex justify-content-between">
  	        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-account fs-4"></i>
            </span>
  	        <span class="fs-4">34,005,000</span>
  	      </div>
  	      <div class="text-end">用户数量</div>
  	    </div>
  	  </div>
  	</div>

  	<div class="col-md-6 col-xl-3">
  	  <div class="card bg-purple text-white">
  	    <div class="card-body">
  	      <div class="d-flex justify-content-between">
  	        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-comment-outline fs-4"></i>
            </span>
  	        <span class="fs-4">153 条</span>
  	      </div>
  	      <div class="text-end">留言数量</div>
  	    </div>
  	  </div>
  	</div>

  </div>

  <div class="row">

  	<div class="col-lg-12">
  	  <div class="card">
  	    <header class="card-header">
  	      <div class="card-title">公查项目</div>
  	    </header>
  		<div class="card-body">
  		  <div class="table-responsive">
  		    <table class="table table-hover">
  		      <thead>
  		        <tr>
  		          <th>更新时间</th>
  		          <th>域名</th>
  		          <th>编号</th>
  		          <th>操作</th>
  		          <th>状态</th>
  		          <th>投诉</th>
  		        </tr>
  		      </thead>
  			  <tbody>
  			    <tr>
  			      <td>今天</td>
  			      <td>aaa.com</td></td>
  			      <td>ababababab</td>
  			      <td>
					<span class="badge bg-primary">检查</span>
				</td>
  			      <td>
					<a class="">失效</a>
				  </td>
  			      <td>
  			        <a href="#">点此</a>
  			      </td>
  			    </tr>
  			    
  			  </tbody>
            </table>
  	      </div>
  	    </div>
  	  </div>
    </div>

  </div>

</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/chart.min.js"></script>
<!--引入chart插件js-->
<script type="text/javascript" src="/js/main.min.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	
});
</script>
</body>
</html>